<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inlever Opdracht B</title>
	
	<!-- Begin Angular link -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- End Angular link -->
	
	<!-- Begin internal links -->
	<link href="inc/master.css" rel="stylesheet">
	<script src="inc/model.js"></script>
	<script src="inc/controller.js"></script>
	<!-- End internal links -->

	<!-- Begin Bootstrap link -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	<!-- End Bootstrap link  -->
</head>
<body class="body" ng-app="myApp" ng-controller="myCtrl" ng-init="renderTable()">
	<!-- Form to add a new entry -->
	<form ng-submit="updateTable(newCar)">
		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="kenteken">Kenteken</label>
				<input type="text" class="form-control" id="kenteken" ng-model="newCar.kenteken" required>
			</div>
			<div class="form-group col-md-3">
				<label for="kleur">Kleur</label>
				<input type="text" class="form-control" id="kleur" ng-model="newCar.kleur" required>
			</div>
			<div class="form-group col-md-3">
				<label for="merk">Merk</label>
				<input type="text" class="form-control" id="merk" ng-model="newCar.merk" required>
			</div>
			<div class="form-group col-md-1">
				<label for="aantal_deuren">Aantal Deuren</label>
				<input type="number" class="form-control" id="aantal_deuren" ng-model="newCar.aantal_deuren" required>
			</div>
			<div class="form-group col-md-1">
				<label for="prijs">Prijs</label>
				<input type="number" class="form-control" id="prijs" ng-model="newCar.prijs" required>
			</div>
			<div class="form-group col-md-1">
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>

	<!-- Car Table -->
	<div class="table p-3">
		<div class="row head">
			<div class="col-4">Kenteken</div>
			<div class="col-3">Kleur</div>
			<div class="col-3">Merk</div>
			<div class="col-1">Aantal Deuren</div>
			<div class="col-1">Prijs</div>
		</div>
	
		<div class="row sub" ng-repeat="car in cars">
			<div class="col-4">{{ car.kenteken }}</div>
			<div class="col-3">{{ car.kleur }}</div>
			<div class="col-3">{{ car.merk }}</div>
			<div class="col-1">{{ car.aantal_deuren }}</div>
			<div class="col-1">{{ car.prijs | currency }}</div>
		</div>
	</div>
</body>
</html>