<form method="POST" ng-submit="alter_data()">
  <div class="head mb-3">Kies hieronder een van de gegevens waar u aanpassingen wilt doen.</div>
  <div ng-repeat="x in names">
    <input ng-change="alter_loader()" type="radio" name="edit" id="{{x.id}}" ng-model="alt_data.id" ng-value="x.id" />
    <label for="{{x.id}}">
      <div class="row">
        <div class="col-2">{{ x.firstname }}</div>
        <div class="col-2">{{ x.lastname }}</div>
        <div class="col-2">{{ x.street }} {{ x.housenumber }}</div>
        <div class="col-2">{{ x.postalcode }}</div>
        <div class="col-2">{{ x.residency }}</div>
        <div class="col-2">{{ x.phonenumber }}</div>
      </div>
    </label>
  </div>
  <div class="row mb-2 mt-5">
    <div class="col-md-2">
      <input type="text" class="input" placeholder="First Name" ng-model="alt_data.firstname" />
    </div>

    <div class="col-md-2">
      <input type="text" class="input" placeholder="Last Name" ng-model="alt_data.lastname" />
    </div>

    <div class="col-1 px-0">
      <input type="text" class="input" placeholder="Street" ng-model="alt_data.street" />
    </div>
    <div class="col-1 px-0">
      <input type="text" class="input" placeholder="House Number" ng-model="alt_data.housenumber" />
    </div>

    <div class="col-md-2">
      <input type="text" class="input" placeholder="Postal Code" ng-model="alt_data.postalcode" />
    </div>

    <div class="col-md-2">
      <input type="text" class="input" placeholder="Residency" ng-model="alt_data.residency" />
    </div>

    <div class="col-md-2">
      <input type="text" class="input" placeholder="Phone Number" ng-model="alt_data.phonenumber" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="button">alter_entry</button>
    </div>
  </div>
</form>
